/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* Variables CSS */
:root {
  --font: "Rethink Sans", sans-serif;
  --white: #f1f1f1;
  --black: #1c1a1a;
  --black2: #0f0e0e;
  --orange: #e99337;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
}

/* Body */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  z-index: 10000;
  /* border: 1px solid red; */
}

.logo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--white);
}

.nav,
.buttons-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button-menu {
  display: none;
}

.nav__link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  background-image: linear-gradient(var(--orange), var(--orange));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s;
}

.nav__link:hover {
  background-size: 100% 2px;
}

.buttons-group__button {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
}

.button-shop {
  background-color: var(--orange);
  color: var(--white);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

/* Main  */

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 80vh;
  /* border: 1px solid rgb(76, 0, 255); */
}

.content__text {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
  padding: 0.5rem;
  width: 450px;
  /* border: 1px solid green; */
}

.content__text {
  margin-top: 50px;
  font-size: 2.5em;
  color: var(--white);
  font-weight: 400;
  line-height: 1.2;
}

.content__text h1 span {
  font-size: 1em;
  color: var(--orange);
  font-weight: bolder;
}

.text__button {
  text-decoration: none;
  color: var(--orange);
  padding: 15px 25px;
  border: 2px solid var(--orange);
  text-transform: uppercase;
  transition: 0.4s;
}

.text__button:hover {
  background-color: var(--orange);
  color: var(--white);
}

.content__image {
  display: grid;
  place-items: center;
  width: 500px;
  height: 100%;
}

.content__image img {
  margin-top: 100px;
  width: 500px;
}

/* Box*/

.box {
  position: absolute;
  top: -50px;
  right: 0;
  width: 700px;
  height: 1500px;
  background-color: var(--black2);
  z-index: -1;
  transform: rotate(45deg);
}

/* Cards*/

.cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  width: 100%;
  gap: 20px;
}

.cards__card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  gap: 10px;
}

.cards__card i {
  color: var(--orange);
  font-size: 1.5em;
}

.cards__card h3 {
  color: var(--white);
  font-size: 1.1em;
}

.cards__card p {
  color: var(--white);
  font-size: 1em;
}

/* Redes Sociales*/
.social {
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social a {
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
  transition: 0.4s;
}

.social a:hover {
  color: var(--orange);
}

/* Brearpoint */

/* Pantallas Largas
@media screen and (max-width: 1200px) {
  .content__text {
    margin-left: 80px;
  }
  .content__text h1 {
    font-size: 2.5em;
  }

  .content__image img {
    width: 450px;
  }
}
*/
/* Laptos */
@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }

  .nav.active {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100vh;
    padding-right: 80px;
    background-color: var(--black2);
  }

  .nav.active .nav__link {
    font-size: 1.2em;
  }

  .button-menu {
    display: flex;
  }

  .content__text h1 {
    font-size: 2em;
  }
  .content__image img {
    width: 400px;
  }
}
/* Tablets */
@media screen and (max-width: 768px) {
  header {
    padding: 30px 40px;
  }
  .content {
    width: 80%;
  }

  .content__text {
    margin-left: 40px;
  }

  .content__text h1 {
    font-size: 1.5em;
  }

  .content__image img {
    width: 300px;
  }

  .cards {
    flex-direction: column;
    height: 600px;
    padding: 40px;
  }

  .cards__card {
    width: 100%;
  }

  .social {
    top: 20%;
    margin-left: 40px;
  }
}
/* Celulares */

@media screen and (max-width: 400px) {
  header {
    padding: 20px;
  }

  .logo {
    font-size: 1.2em;
  }

  .nav.active {
    width: 100%;
  }

  .buttons-group__button {
    font-size: 1.2em;
  }

  .content {
    flex-direction: column-reverse;
    width: 100%;
    height: 600px;
    padding: 0px;
    top: 0px;
  }

  .content__text {
    width: 200px;
    text-align: center;
    margin-left: 0px;
  }

  .content__text h1 {
    font-size: 1.2em;
  }

  .content__image {
    width: 270px;
  }

  .cards {
    display: none;
  }

  .social {
    top: 40%;
    margin-left: 20px;
  }

  .social a {
    font-size: 1.2em;
  }
}
